/* Header */
.bpw-header {
    background-color: black;
    text-color: white;
}

/* Chat container */
.bpw-conversation-container {
    background-color: rgba(0, 0, 0, 0.5);
    text-color: white;
}

/* User input area */
.bpw-composer {
    background-color: rgba(0, 0, 0, 0.5);
    text-color: white;
}
